<a href="https://colab.research.google.com/github/Chet-Sheng/python_sample_code/blob/master/data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics: [Mutable vs Immutable Objects](https://towardsdatascience.com/https-towardsdatascience-com-python-basics-mutable-vs-immutable-objects-829a0cb1530a)

All the data in a Python code is represented by `objects` or by `relations` between objects. Every object has an **`identity`**, a **`type`**, and a **`value`**.

**`Identity`**:

An object’s identity never changes once it has been created; you may think of it as the **object’s address in memory**. The is operator compares the identity of two objects; the `id()` function returns an integer representing its identity.

**`Type`**:

An object’s type defines the possible values and operations (e.g. “does it have a length?”) that type supports. The `type()` function returns the type of an object. An object type is **unchangeable** like the identity.

**`Value`**:

The value of some objects can change. Objects whose value can change are said to be `mutable`; objects whose value is unchangeable once they are created are called `immutable`.

The mutability of an object is determined by its type.


---
**READING LIST:**

- **[Common Python Data Structures Guide](https://realpython.com/python-data-structures/)**
- 这边**fluent python**这本书讲得非常好

# Mutable Data Types
- List
- Dictionary
- Set
- User-Defined Classes

## List - Dynamic Array

In [ ]:
a = [1, 2, 3, 4, 5, 6]
id_1 = id(a)

In [ ]:
a[0] = 100
print(a)
id_2 = id(a)

[100, 2, 3, 4, 5, 6]

In [ ]:
# list is mutable, any changes on the value doesn't change object's identity
id_1 == id_2

True

In [ ]:
a.append(10)
id_3 = id(a)
a

[100, 2, 3, 4, 5, 6, 10]

In [ ]:
id_3 == id_1

True

In [ ]:
id(a + [11, 12]) == id_1  # list `+` will create a new object

False

`slice` operation returns a shallow copy of the list

In [ ]:
# All slice operations return a new list containing the requested elements. 
# This means that the following slice returns a shallow copy of the list:
b = a[:2]
b

[100, 2]

In [ ]:
b[1] = 110
b

[100, 110]

In [ ]:
# updating b doesn't update a
a

[100, 2, 3, 4, 5, 6]

Assignment to `slices`
- slices在`=`左边是in-place updates
- slices在`=`右边是shallow copy

In [ ]:
a = [1, 2, 3, 4, 5, 6]
c = a  # c is just a new reference to a
d = a[:]  # this is copy

In [ ]:
a[2:4] = [20, 30, 40]  # slicing assignment, 在等号左边会inplace改变a
b = a[4:]

In [ ]:
a

[1, 2, 20, 30, 40, 5, 6]

In [ ]:
b[1] = 50
d[-1] = -1

print(f"a: {a}")
print(f"b: {b}")
print(f"c: {c}")
print(f"d: {d}")

a: [1, 2, 20, 30, 40, 5, 6]
b: [40, 50, 6]
c: [1, 2, 20, 30, 40, 5, 6]
d: [1, 2, 3, 4, 5, -1]

## Dictionary
> **Simple Version:** <br>
Python `dict` 's keys need to be **immutable** (exception: `User Defined Class instance`)
ref: [https://stackoverflow.com/a/19371472](https://stackoverflow.com/a/19371472)

>**Long Version:** <br>
A dictionary’s keys are almost arbitrary values. Values that are not hashable, that is, values containing `lists`, `dictionaries` or other `mutable` types (that are compared by value rather than by object identity) may not be used as keys.
- [https://docs.python.org/3/library/stdtypes.html#mapping-types-dict](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict)

>`hashable`: [https://docs.python.org/3/glossary.html#term-hashable](https://docs.python.org/3/glossary.html#term-hashable) <br>
Most of Python’s `immutable` built-in objects are `hashable`; `mutable` containers (such as `lists` or `dictionaries`) are not; 
`immutable` containers (such as `tuples` and `frozensets`) are only `hashable` if their elements are `hashable`. 
Objects which are instances of user-defined classes are `hashable` by default. They all compare unequal (except with themselves), and their hash value is derived from their `id()`.
>

In [ ]:
# Error: use list a python dictionary key
hash_map = dict()
key = [1, 2, 3]
hash_map[key] = "test_value"

TypeError: ignored

### Instances of user-defined classes as dict key

In [ ]:
# instances of user-defined classes are hashable by default. 
# They all compare unequal (except with themselves), 
# and their hash value is derived from their `id()`.

class Node:
    def __init__(self, val=-1, neighbour=[]):
        self.val = val
        self.neighbour = neighbour
    
    def __repr__(self):
        """return instance id"""
        return f"root{self.val}_{id(self)}"

root = Node(val=0)
hash_map = {}
hash_map[root] = "root_node"

In [ ]:
hash_map.keys()

dict_keys([root0_140001097892752])

In [ ]:
root_dup = Node(val=0)
hash_map[root_dup] = "root_node_dup"
hash_map

{root0_140000967021136: 'root_node_dup', root0_140001097892752: 'root_node'}

### function as `dict` key

In [ ]:
hash_map = {}
hash_map[abs] = "abs"
hash_map

{<function abs>: 'abs'}

## Linked list (User-Defined Classes)
这个class是mutable的，所以 any reference 的改变，都会对原data structure造成改变

In [ ]:
class Node:
  """construct a singly linked list"""
  def __init__(self, val, next_node=None):
    self.val = val
    self.next = next_node

In [ ]:
# ┌─┐
# │a│
# └┬┘
# ┌▽┐
# │b│
# └┬┘
# ┌▽┐
# │c│
# └┬┘
# ┌▽┐
# │d│
# └─┘

a = Node(1)
b = Node(2)
c = Node(3)
d = Node(4)

a.next = b
b.next = c
c.next = d

In [ ]:
# Copy object by reference
b_new = b
id(b_new) == id(b)

True

In [ ]:
a.next is b_new

True

### Define a proper Linked List Object

In [ ]:
# V1:

class UniqueLinkedList:
  def __init__(self):
    self.head = Node(val=-1)
  
  def search(self, key):
    curr_node = self.head
    while curr_node.next is not None:
      if curr_node.next.val == key:
        return True
      curr_node = curr_node.next
    return False
      
  def insert(self, key):
    if self.search(key):
      print(f"key {key} already exists")
      return None
    self.head.next = Node(key, self.head.next)
    print(f"intert key {key} successfully")

  def remove(self, key):
    curr_node = self.head
    while curr_node.next is not None:
      if curr_node.next.val == key:
        curr_node.next = curr_node.next.next
        print(f"remove key {key} successfully")
        return None
      curr_node = curr_node.next
  
  def show(self):
    res = []
    curr_node = self.head
    while curr_node.next:
      res.append(curr_node.next.val)
      curr_node = curr_node.next
    
    return res

In [ ]:
obj = UniqueLinkedList()

In [ ]:
for i in range(5):
  obj.insert(i)

obj.show()

intert key 0 successfully
intert key 1 successfully
intert key 2 successfully
intert key 3 successfully
intert key 4 successfully

[4, 3, 2, 1, 0]

In [ ]:
obj.remove(1)
obj.show()

remove key 1 successfully

[4, 3, 2, 0]

### A circular singly Linked List
下面所有block都是要先跑着一个block

In [ ]:
# ┌─────┐  
# │node1│  
# └△─┬──┘  
#  │┌▽────┐
#  ││node2│
#  │└┬────┘
# ┌┴─▽──┐  
# │node3│  
# └─────┘  


# build circular linked list
node1 = Node(1, None)
node2 = Node(2, None)
node3 = Node(3, None)

node1.next = node2
node2.next = node3
node3.next = node1

# define 2 orphan node:
node_test1 = Node(4, None)
node_test2 = Node(4, None)

# get object identity
id1 = id(node1)
id2 = id(node2)
id3 = id(node3)
id_t1 = id(node_test1)
id_t2 = id(node_test2)

In [ ]:
print(f"node1 -> {node1.next.val}")
print(f"node2 -> {node2.next.val}")
print(f"node3 -> {node3.next.val}")

node1 -> 2
node2 -> 3
node3 -> 1

In [ ]:
# 同一个class的不同instance是两个不同的object
print(id_t1)
print(id_t2)
print(node_test1 == node_test2)  # 不同的instance不是同一个object

140587172830992
140587172830288
False

In [ ]:
# 改变instance的attribute，并不会改变object(instance)的identity
node_test1.next = node_test2
print(id(node_test1)==id_t1)
print(id(node_test2)==id_t2)

True
True

### Add a new node

In [ ]:
"""
Add a new node
"""

# ┌───────┐    
# │ node1 │    
# └△─────┬┘    
#  │    ┌▽────┐
#  │    │node2│
#  │    └┬────┘
# ┌┴────┐│     
# │node4││     
# └△────┘│     
# ┌┴─────▽─┐   
# │ node3  │   
# └────────┘

node4 = Node(4, node1)
node3.next = node4  # TODO: node3.next 本来是 node1，这个操作是否相当于 node1=node4？这个算是reassignment么？是的！

id4 = id(node4)

In [ ]:
# 仅仅是obj的attribute改变
id3 == id(node3)
id1 == id(node1)

True

In [ ]:
print(f"node1 -> {node1.next.val}")
print(f"node2 -> {node2.next.val}")
print(f"node3 -> {node3.next.val}")
print(f"node4 -> {node4.next.val}")
print("----------")
print(f"node1 -> {node4.next.next.val}")

node1 -> 2
node2 -> 3
node3 -> 4
node4 -> 1
----------
node1 -> 2

### Delete a node

In [ ]:
# ┌─────┐  
# │node1│  
# └△─┬──┘  
#  │┌▽────┐
#  ││node2│
#  │└┬────┘
# ┌┴─▽──┐  
# │node3│  
# └─────┘ 

node4 = node3  # 不work, 因为 id(node4) == id(node3), 新的node4变成了alias, 原来的node4变成了nameless obj
print(id(node4) == id(node3))  # True; reassignment of node4

True

In [ ]:
id4 == id(node3.next)

True

In [ ]:
node3.next = node1

In [ ]:
print(f"node1 -> {node1.next.val}")
print(f"node2 -> {node2.next.val}")
print(f"node3 -> {node3.next.val}")

node1 -> 2
node2 -> 3
node3 -> 4

### Replace a Node
目标: 把图里面的`node3`换成`node4`

In [ ]:
# 即:
# ┌─────┐  
# │node1│  
# └△─┬──┘  
#  │┌▽────┐
#  ││node2│
#  │└┬────┘
# ┌┴─▽──┐  
# │node3│  
# └─────┘ 
# 变成==>
# ┌─────┐  
# │node1│  
# └△─┬──┘  
#  │┌▽────┐
#  ││node2│
#  │└┬────┘
# ┌┴─▽──┐  
# │node4│  
# └─────┘

Wrong Implementation:

In [ ]:
print("id3_old:", id3)

node4 = Node(4, node1)
node3 = node4  # node3是一个新的obj的reference了，旧的obj没有了reference但是还存在的(依然是node2.next)

print(id(node3) == id(node4))
print("id3_new:", id(node3))  #不一样

id3_old: 139631081064720
True
id3_new: 139631081215760

In [ ]:
# 还是下图不变
# ┌─────┐                  
# │node1│                  
# └△─┬──┘                  
#  │┌▽────┐                
#  ││node2│                
#  │└┬────┘                
# ┌┴─▽────────────────────┐
# │node3_without_reference│
# └───────────────────────┘


print(f"node1: {node1.val} -> node2: {node1.next.val}")
print(f"node2: {node2.val} -> node2.next: {node2.next.val}")
print(f"node2.next: {node2.next.val} -> node2.next.next: {node2.next.next.val}")
print("---------------------")
print(f"node3: {node3.val} -> node1: {node3.next.val}")

node1: 1 -> node2: 2
node2: 2 -> node2.next: 3
node2.next: 3 -> node2.next.next: 1
---------------------
node3: 4 -> node1: 1

Correct Version:

In [ ]:
print("id3_old:", id3)

node4 = Node(4, node1)
node2.next = node4  # update the linkage

print(id(node2.next) == id(node4))
print("id4:", id(node2.next))  # 不一样

id3_old: 139631080552464
True
id4: 139631080897872

In [ ]:
# ┌─────┐  
# │node1│  
# └△─┬──┘  
#  │┌▽────┐
#  ││node2│
#  │└┬────┘
# ┌┴─▽──┐  
# │node4│  
# └─────┘ 

print(f"node1: {node1.val} -> node2: {node1.next.val}")
print(f"node2: {node2.val} -> node2.next: {node2.next.val}")
print(f"node2.next: {node2.next.val} -> node2.next.next (node1): {node2.next.next.val}")

node1: 1 -> node2: 2
node2: 2 -> node2.next: 4
node2.next: 4 -> node2.next.next (node1): 1

## Heap

### Min Heap

In [ ]:
import heapq

In [ ]:
print("create a heap:")
h = [5, 7, 9, 1, 3]  # create a list
id_1 = id(h)

heapq.heapify(h)  # make list h a min heap
id_2 = id(h)
print(h)

create a heap:
[1, 3, 9, 7, 5]

In [ ]:
type(h)  # 依旧是list，只是叫heap而已

list

In [ ]:
id_1 == id_2

True

In [ ]:
# push values to heap
print("\npush values to heap:")
heapq.heappush(h, 10)
print(h)
heapq.heappush(h, -1)
print(h)

push values to heap:
[1, 3, 9, 7, 5, 10]
[-1, 3, 1, 7, 5, 10, 9]

In [ ]:
# inspect min value in min heap (top element)
peek_val = h[0]
print(f"\ninspect min/top value in min heap:\n {peek_val}")

inspect min/top value in min heap:
 -1

In [ ]:
print("\npop top values from min heap:")
heapq.heappop(h)

pop top values from min heap:

-1

In [ ]:
# inspect min value in min heap (top element)
peek_val = h[0]
print(f"\ninspect min/top value in min heap:\n {peek_val}")
print(h)

inspect min/top value in min heap:
 1
[1, 3, 9, 7, 5, 10]

In [ ]:
# get size of heap:
len(h)

6

In [ ]:
h

[1, 3, 9, 7, 5, 10]

In [ ]:
# get n smallest of heap
heapq.nsmallest(3, h)

[1, 3, 5]

In [ ]:
# get n largest of heap
heapq.nlargest(3, h)

[10, 9, 7]

### Max Heap
`heapq`没有max heap, 取`负数`实现

In [ ]:
maxHeap = []
# 将列表堆化，此时的堆是最小堆，我们需要将元素取反技巧，将最小堆转换为最大堆
heapq.heapify(maxHeap)
# 分别往堆中添加1，3，2，注意此时添加的是-1，-3，-2，原因是需要将元素取反，最后将最小堆转换为最大堆
heapq.heappush(maxHeap, 1*-1)
heapq.heappush(maxHeap, 3*-1)
heapq.heappush(maxHeap, 2*-1)
# 查看堆中所有元素：[-3, -1, -2]

print("maxHeap: ",maxHeap)
# 查看堆中的最大元素，即当前堆中最小值*-1
peekNum = maxHeap[0]
# 结果为：3
print("peek number: ", peekNum*-1)

# 删除堆中最大元素，即当前堆中最小值
popNum = heapq.heappop(maxHeap)
# 结果为：3
print("pop number: ", popNum*-1)
# 查看删除3后堆中最大值， 结果为：2
print("peek number: ", maxHeap[0]*-1)

# 查看堆中所有元素，结果为：[-2,-1]
print("maxHeap: ",maxHeap)
# 查看堆的元素个数，即堆的大小
size = len(maxHeap)
# 结果为：2
print("maxHeap size: ", size)

maxHeap:  [-3, -1, -2]
peek number:  3
pop number:  3
peek number:  2
maxHeap:  [-2, -1]
maxHeap size:  2

### HeapSort

In [ ]:
import heapq
from typing import Iterable

def heap_sort(x: Iterable):
    """min -> max"""
    heapq.heapify(x)
    sorted_x = []
    
    while x:
        sorted_x.append(heapq.heappop(x))

    return sorted_x


def heap_sort_inverse(x: Iterable):
    """max -> min"""
    x = [-1 * i for i in x]
    heapq.heapify(x)
    sorted_x = []
    
    while x:
        sorted_x.append(heapq.heappop(x)*-1)

    return sorted_x

In [ ]:
import random

x = [random.randint(1, 20) for i in range(10)]
x

[5, 11, 10, 12, 14, 1, 14, 15, 18, 7]

In [ ]:
heap_sort(x)

[1, 5, 7, 10, 11, 12, 14, 14, 15, 18]

In [ ]:
x = [random.randint(1, 20) for i in range(10)]

heap_sort_inverse(x)

[19, 15, 15, 15, 14, 9, 8, 8, 4, 1]

### List/ Tuple/ Class as Heap elements

In [ ]:
import heapq

# eg. get the lest frequent word:
nums = [[3, "a"], [4, "b"], [1, "c"]]
heapq.heapify(nums)

In [ ]:
nums[0]

[1, 'c']

In [ ]:
hash_table = {"chet": 150, "zoe": 100, "shen": "20" }

In [ ]:
import heapq
# 这个不行... Counter却可以
heapq.nlargest(2, hash_table.keys(), key=hash_table.get)

TypeError: ignored

In [ ]:
hash_table.keys()

dict_keys(['chet', 'zoe', 'shen'])

In [ ]:
from collections import Counter

# counter = Counter([1,1,1,2,2,3])
counter = Counter(["1","1","1","2","2","3"])
counter

Counter({'1': 3, '2': 2, '3': 1})

In [ ]:
counter.keys()

dict_keys(['1', '2', '3'])

In [ ]:
k = 2
heapq.nlargest(k, counter.keys(), key=counter.get)

['1', '2']

# Immutable Data Types
- int
- float
- decimal
- bool
- string
- tuple 
- range

核心就是不能变动，但凡变了(eg. tuple expand)，就是一个新的object.

## Tuple

In [ ]:
list_val = [1, 2, 3]  # list
tuple_val = (10, 20, 30)  # tuple

In [ ]:
print("list_val[0]:\t\t", list_val[0])
list_val[0] = 100
print("list_val (updated):\t", list_val)

print("tuple_val[0]:\t\t", tuple_val[0])
tuple_val[0] = 100  # tuple doesn't allow item assignment

list_val[0]:		 1
list_val (updated):	 [100, 2, 3]
tuple_val[0]:		 10

TypeError: ignored

In [ ]:
list_values = [1, 2, 3]
print(f"Old list_values (id): {id(list_values)}")
list_values += [4, 5, 6]
print(f"New list_values (id): {id(list_values)}")

print()

tuple_values = (1, 2, 3)
print(f"Old tuple_values (id): {id(tuple_values)}")
tuple_values += (4, 5, 6)  # this will be a new object
print(f"New tuple_values (id): {id(tuple_values)}")

Old list_values (id): 139631149472256
New list_values (id): 139631149472256

Old tuple_values (id): 139631177220656
New tuple_values (id): 139631177099760

## Int/ String

In [ ]:
number = 42
print(id(number))

number += 1
print(id(number))

94336872832800
94336872832832

In [ ]:
text = "Data Science"
print(id(text))

text += " with Python"
print(id(text))

139631149045872
139631149067200

# Copy Objects

## Copying Mutable Objects by Reference

In [ ]:
values1 = [4, 5, 6]
values2 = values1
print("id(values1)==id(values2):", id(values1)==id(values2))

id(values1)==id(values2): True

In [ ]:
# append value to the original list, referenced obj will also be updated
values1.append(7)
print('\n====== values1.append(7) ======')
print("values1 is values2:", values1 is values2)  # ie. print(id(values1)==id(values2))
print("values1:", values1)
print("values2:", values2)

====== values1.append(7) ======
values1 is values2: True
values1: [4, 5, 6, 7]
values2: [4, 5, 6, 7]

In [ ]:
values2.append(10)
print('\n====== values2.append(10) ======')
print("values1 is values2:", values1 is values2)  # ie. print(id(values1)==id(values2))
print("values1:", values1)
print("values2:", values2)

====== values2.append(10) ======
values1 is values2: True
values1: [4, 5, 6, 7, 10]
values2: [4, 5, 6, 7, 10]

## Copying Immutable Objects
Every time when we try to update the value of an `immutable` object, a new object is created instead

In [ ]:
text1 = "Python"
text2 = text1
print("id(text1) == id(text2):\t", id(text1) == id(text2))

id(text1) == id(text2):	 True

In [ ]:
text1 += " is awesome"
print("text1 is text2:\t\t", text1 is text2)

print("text1:", text1)
print("text2:", text2)

text1 is text2:		 False
text1: Python is awesome
text2: Python

## Mutable object inside an immutable container

In [ ]:
skills = ["Programming", "Machine Learning", "Statistics"]
person1 = (129392130, skills)
person2 = person1

print(type(person1))
print(person1)

<class 'tuple'>
(129392130, ['Programming', 'Machine Learning', 'Statistics'])

In [ ]:
skills[2] = "Maths"
print(person1)
print(person2)
print()

"The object is still considered immutable because when we talk about the mutability of a container only the identities of the contained objects are implied."

(129392130, ['Programming', 'Machine Learning', 'Maths'])
(129392130, ['Programming', 'Machine Learning', 'Maths'])

'The object is still considered immutable because when we talk about the mutability of a container only the identities of the contained objects are implied.'

In [ ]:
person1 is person2

True

In [ ]:
person2 += (2,)
person2

(129392130, ['Programming', 'Machine Learning', 'Maths'], 2)

In [ ]:
unique_identifier = 42
age = 24
skills = ("Python", "pandas", "scikit-learn")

info = (unique_identifier, age, skills)

print(id(unique_identifier))
print(id(age))
print(info)

94336872832800
94336872832224
(42, 24, ('Python', 'pandas', 'scikit-learn'))

In [ ]:
unique_identifier = 50
age += 1
skills += ("machine learning", "deep learning")

print(id(unique_identifier))
print(id(age))
print(info)

94336872833056
94336872832256
(42, 24, ('Python', 'pandas', 'scikit-learn'))

In [ ]:
age = 27
print(f"id(age): {id(age)}")

age = age + 1
print(f"id(age=age+1): {id(age)}")

age += 1
print(f"id(age += 1): {id(age)}")

id(age): 94336872832320
id(age=age+1): 94336872832352
id(age += 1): 94336872832384

## `a += 1` vs `a = a + 1`
- `+=` calls the `__iadd__` [method](https://docs.python.org/3.8/reference/datamodel.html#object.__iadd__) (if it exists -- falling back on `__add__` if it doesn't exist) 
- whereas `+` calls the `__add__` [method](https://docs.python.org/3.8/reference/datamodel.html#object.__add__) or the `__radd__` [method](https://docs.python.org/3.8/reference/datamodel.html#object.__radd__) in a few cases.

From an API perspective, 
1. for mutable objects:
  - `__iadd__` is supposed to be used for modifying `mutable` objects in place (returning the object which was mutated) 
  - whereas `__add__` should return a new instance of something. 
2. For `immutable` objects: both methods return a new instance, 
  - but `__iadd__` will put the new instance in the current namespace with the same name that the old instance had.

In [ ]:
a = [1, 2, 3]
b = a
b += [1, 2, 3]  # += inplace modification
print (a)  #[1, 2, 3, 1, 2, 3]
print (b)  #[1, 2, 3, 1, 2, 3]

[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3]

In [ ]:
a = [1, 2, 3]
b = a
b = b + [1, 2, 3]  # new objects
print (a)  #[1, 2, 3] 
print (b)  #[1, 2, 3, 1, 2, 3]

[1, 2, 3]
[1, 2, 3, 1, 2, 3]