<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"><li><span><a href="#Common-Setting" data-toc-modified-id="Common-Setting-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Common Setting</a></span></li><li><span><a href="#indexing" data-toc-modified-id="indexing-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>indexing</a></span><ul class="toc-item"><li><span><a href="#.loc-and-.iloc-indexing" data-toc-modified-id=".loc-and-.iloc-indexing-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>.loc and .iloc indexing</a></span><ul class="toc-item"><li><span><a href="#Example01:" data-toc-modified-id="Example01:-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Example01:</a></span></li><li><span><a href="#Example02:" data-toc-modified-id="Example02:-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Example02:</a></span></li><li><span><a href="#Example03:" data-toc-modified-id="Example03:-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>Example03:</a></span></li></ul></li><li><span><a href="#Reset-index" data-toc-modified-id="Reset-index-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Reset index</a></span></li></ul></li><li><span><a href="#Multi-indexing" data-toc-modified-id="Multi-indexing-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Multi-indexing</a></span><ul class="toc-item"><li><span><a href="#Index" data-toc-modified-id="Index-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Index</a></span></li><li><span><a href="#Columns" data-toc-modified-id="Columns-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Columns</a></span></li></ul></li><li><span><a href="#Parse-URL" data-toc-modified-id="Parse-URL-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Parse URL</a></span></li><li><span><a href="#Merge" data-toc-modified-id="Merge-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Merge</a></span><ul class="toc-item"><li><span><a href="#Array-Intersection-&amp;-Complement" data-toc-modified-id="Array-Intersection-&amp;-Complement-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Array Intersection &amp; Complement</a></span></li></ul></li></ul></div>

# Common Setting

In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
import os
import re
import itertools
import pickle

# import json

# from sklearn.cluster import DBSCAN
# from sklearn.feature_extraction import DictVectorizer

pd.set_option('display.max_columns', 1000)

# indexing

## .loc and .iloc indexing

In [3]:
df = pd.DataFrame({'x': [1,2]})
print('df:')
display(df)
print('-------------')

# df_sub is indexing from df
df_sub = df[0:1]
print('\ndf_sub:')
display(df_sub)
print('-------------')

# assign value to df_sub
df_sub.loc['x'] = -1
print('\ndf_sub:')
display(df_sub)
print('\ndf:')
display(df)

df:

   x
0  1
1  2

-------------

df_sub:

   x
0  1

-------------

df_sub:

   x
0  1
x -1

df:

   x
0  1
1  2

###  Example01:
In case of having [...] indexing: Doesn't affact original.
<br>Just pandas not sure about the result just avoid [...] indexing.

In [4]:
dates = range(8)
a = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A','B','C','D'])
a

          A         B         C         D
0  0.878303  0.425508  0.271213  0.633477
1  0.379914  1.280137 -1.959084  1.589108
2  0.184431  0.996371  0.606424 -2.024249
3 -0.404713  0.077122  0.625306  1.122763
4  0.845650 -0.515670  0.411784  1.251060
5  0.516170 -1.567600  0.830165  0.956443
6  0.602523  0.459030  0.736938  0.238888
7 -0.560412  0.192859 -0.126534 -0.850789

In [5]:
# This is the key part!!!!!:
b = a[1:3][['B','C']]
print(type(b))
b

<class 'pandas.core.frame.DataFrame'>

          B         C
1  1.280137 -1.959084
2  0.996371  0.606424

In [6]:
b.B=pd.DataFrame(100*np.ones([3,1]))
display(b)
display(a)
print('\nIn this case (indexing multiple index by []), a was not re-assigned')

       B         C
1  100.0 -1.959084
2  100.0  0.606424

          A         B         C         D
0  0.878303  0.425508  0.271213  0.633477
1  0.379914  1.280137 -1.959084  1.589108
2  0.184431  0.996371  0.606424 -2.024249
3 -0.404713  0.077122  0.625306  1.122763
4  0.845650 -0.515670  0.411784  1.251060
5  0.516170 -1.567600  0.830165  0.956443
6  0.602523  0.459030  0.736938  0.238888
7 -0.560412  0.192859 -0.126534 -0.850789

In this case (indexing multiple index by []), a was not re-assigned

###  Example02:
In case of having [.] indexing: Does affact original.

In [7]:
dates = range(8)
a = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A','B','C','D'])
a

          A         B         C         D
0 -0.197387 -0.972177 -2.447318  0.052101
1  0.105575  0.191226 -0.884398 -1.011443
2 -0.950118  1.623702  2.042223  0.225227
3  2.170974 -1.541838  0.095549  0.945138
4  0.746738  0.254991 -0.430770  0.518200
5  1.731016  0.679456 -1.024973 -0.006610
6  0.503179  0.444636 -0.078549  0.938570
7 -0.265996 -1.829817  0.299908 -0.373651

In [8]:
# This is the key part!!!!!:
b = a[1:3]
print(type(b))
b

<class 'pandas.core.frame.DataFrame'>

          A         B         C         D
1  0.105575  0.191226 -0.884398 -1.011443
2 -0.950118  1.623702  2.042223  0.225227

In [9]:
b.B=pd.DataFrame(100*np.ones([3,1]))
display(b)
display(a)
print('\nIn this case (indexing single index by []), a was re-assigned')
# not a copy at all.
# while using .loc would never need to worry about this.

/usr/local/lib/python3.5/dist-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

          A      B         C         D
1  0.105575  100.0 -0.884398 -1.011443
2 -0.950118  100.0  2.042223  0.225227

          A           B         C         D
0 -0.197387   -0.972177 -2.447318  0.052101
1  0.105575  100.000000 -0.884398 -1.011443
2 -0.950118  100.000000  2.042223  0.225227
3  2.170974   -1.541838  0.095549  0.945138
4  0.746738    0.254991 -0.430770  0.518200
5  1.731016    0.679456 -1.024973 -0.006610
6  0.503179    0.444636 -0.078549  0.938570
7 -0.265996   -1.829817  0.299908 -0.373651

In this case (indexing single index by []), a was re-assigned

### Example03:
Mind the single indexing. Even the single indexing in ,loc would result in value change.

In [140]:
dates = range(8)
a = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A','B','C','D'])
a

          A         B         C         D
0 -0.236662 -0.708238 -0.354506  1.192155
1 -0.683871  0.268845  0.007645 -0.227292
2  0.351881  0.038323 -1.470705 -2.367162
3 -1.318242  0.846568 -1.183613  0.105871
4  0.716728 -0.273229 -1.092767  0.895343
5 -0.195302 -0.746973 -0.553784  0.897603
6  0.107835  0.001818 -1.000445  1.049765
7 -0.350980  1.693922  0.121410  0.588823

In [141]:
# This is the key part!!!!!:
option = 2
if option == 1:
    b = a.loc[:]
else:
    b = a.loc[:,['A','B','C']]
    http://localhost:8888/notebooks/InfoExtraction_from_MetaData.ipynb#Extract-all-offer-related-Info
print(type(b))
b

<class 'pandas.core.frame.DataFrame'>

          A         B         C
0 -0.236662 -0.708238 -0.354506
1 -0.683871  0.268845  0.007645
2  0.351881  0.038323 -1.470705
3 -1.318242  0.846568 -1.183613
4  0.716728 -0.273229 -1.092767
5 -0.195302 -0.746973 -0.553784
6  0.107835  0.001818 -1.000445
7 -0.350980  1.693922  0.121410

In [142]:
b.loc[:,['A']]=100
display(b)
display(a)
print('\nIn this case (indexing single index by []), a was re-assigned')
# not a copy at all.
# while using .loc would never need to worry about this.

       A         B         C
0  100.0 -0.708238 -0.354506
1  100.0  0.268845  0.007645
2  100.0  0.038323 -1.470705
3  100.0  0.846568 -1.183613
4  100.0 -0.273229 -1.092767
5  100.0 -0.746973 -0.553784
6  100.0  0.001818 -1.000445
7  100.0  1.693922  0.121410

          A         B         C         D
0 -0.236662 -0.708238 -0.354506  1.192155
1 -0.683871  0.268845  0.007645 -0.227292
2  0.351881  0.038323 -1.470705 -2.367162
3 -1.318242  0.846568 -1.183613  0.105871
4  0.716728 -0.273229 -1.092767  0.895343
5 -0.195302 -0.746973 -0.553784  0.897603
6  0.107835  0.001818 -1.000445  1.049765
7 -0.350980  1.693922  0.121410  0.588823

In this case (indexing single index by []), a was re-assigned

## Reset index

In [22]:
# generate sample data
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'], columns=['one', 'two', 'three'])
df['four'] = 'bar'
df['five'] = df['one'] > 0
print('Sample data frame df:')
display(df)

print('\n-----------------------------------------')
print('\nSample data frame with missing value df2:')
df2 = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h','fffff'])
display(df2)

Sample data frame df:

        one       two     three four   five
a -0.853258 -0.801535  0.167673  bar  False
c  1.071389 -1.089491 -1.632686  bar   True
e -2.191377 -0.464278  1.591949  bar  False
f -1.425386 -0.284192 -2.245392  bar  False
h -0.684550  1.893911 -0.155780  bar  False

-----------------------------------------

Sample data frame with missing value df2:

            one       two     three four   five
a     -0.853258 -0.801535  0.167673  bar  False
b           NaN       NaN       NaN  NaN    NaN
c      1.071389 -1.089491 -1.632686  bar   True
d           NaN       NaN       NaN  NaN    NaN
e     -2.191377 -0.464278  1.591949  bar  False
f     -1.425386 -0.284192 -2.245392  bar  False
g           NaN       NaN       NaN  NaN    NaN
h     -0.684550  1.893911 -0.155780  bar  False
fffff       NaN       NaN       NaN  NaN    NaN

In [24]:
# reset index of a dataframe and add the current index as a column into current dataframe
df3 = df2.reset_index().copy()
df3

   index       one       two     three four   five
0      a -0.853258 -0.801535  0.167673  bar  False
1      b       NaN       NaN       NaN  NaN    NaN
2      c  1.071389 -1.089491 -1.632686  bar   True
3      d       NaN       NaN       NaN  NaN    NaN
4      e -2.191377 -0.464278  1.591949  bar  False
5      f -1.425386 -0.284192 -2.245392  bar  False
6      g       NaN       NaN       NaN  NaN    NaN
7      h -0.684550  1.893911 -0.155780  bar  False
8  fffff       NaN       NaN       NaN  NaN    NaN

# Multi-indexing

## Index

In [24]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
        ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
df = pd.DataFrame(np.random.randn(8, 4), index=arrays)
df

                0         1         2         3
bar one -0.715945  0.151583  1.317375  0.499748
    two  0.938546 -1.618732 -1.473079  2.662088
baz one -0.126611 -0.620895  2.065830 -1.410391
    two -0.354215 -1.301836  1.716957  0.459275
foo one  0.279751 -0.682826 -1.194367  0.652896
    two  0.280177 -1.305885  0.958773  0.975372
qux one -0.809793 -0.512066  0.177547  1.674731
    two -0.635881 -0.215780  0.213772  0.103271

In [25]:
df.index

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]])

In [27]:
df.index.levels

FrozenList([['bar', 'baz', 'foo', 'qux'], ['one', 'two']])

In [28]:
df.index.levels[0]

Index(['bar', 'baz', 'foo', 'qux'], dtype='object')

## Columns

In [29]:
df1=df.T
df1

        bar                 baz                 foo                 qux  \
        one       two       one       two       one       two       one
0 -0.715945  0.938546 -0.126611 -0.354215  0.279751  0.280177 -0.809793
1  0.151583 -1.618732 -0.620895 -1.301836 -0.682826 -1.305885 -0.512066
2  1.317375 -1.473079  2.065830  1.716957 -1.194367  0.958773  0.177547
3  0.499748  2.662088 -1.410391  0.459275  0.652896  0.975372  1.674731


        two
0 -0.635881
1 -0.215780
2  0.213772
3  0.103271

In [32]:
# indexing columns
df1.columns.levels

FrozenList([['bar', 'baz', 'foo', 'qux'], ['one', 'two']])

In [34]:
# indexing rows
df.index

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]])

In [38]:
# Overall indexing
df1.loc[0,('bar','one')]

-0.71594453025073468

# Parse URL

In [ ]:

# url parse to make url readable
tqdm.pandas(desc="Progress Bar")
Page_URL = df_url.progress_apply(lambda x: urllib.parse.unquote(x))

# Merge

In [ ]:
df_base = pd.merge(df_tmp[['index','product_viewed','cart_started','basket_paid']],Page_URL_index,\
                   how='inner',on=['index'])

## Array Intersection & Complement

In [3]:
# Array Intersection and Complement
a=np.array(range(1,7))
b=np.array(range(3,10))
print('a: ',a)
print('b: ',b)

Intersection = np.intersect1d(a,b)
Complement = np.setdiff1d(a,Intersection)

print('\nIntersection: ', Intersection)
print('Complement:   ', Complement)

a:  [1 2 3 4 5 6]
b:  [3 4 5 6 7 8 9]

Intersection:  [3 4 5 6]
Complement:    [1 2]

In [4]:
# Array Intersection and Complement
a=np.array(range(1,7))
b=np.array(range(3,7))
print('a: ',a)
print('b: ',b)

Intersection = np.intersect1d(a,b)
Complement = np.setdiff1d(b,Intersection)

print('\nIntersection: ', Intersection)
print('Complement:   ', Complement)

a:  [1 2 3 4 5 6]
b:  [3 4 5 6]

Intersection:  [3 4 5 6]
Complement:    []